node_modules/*
node_modules
.DS_Store
docs/_book
settings_local.py
*.pyc
__pycache__/
__pycache__/*
__pycache__/*.pyc
.idea/
media/
npm-debug.log*
.env
.tern-port
redis.db*
ghostdriver.log
package-lock.json
static/
mapala.log
logs/
backups/
